@using PensionCoach.Tools.CommonTypes.MultiPeriod
@using PensionCoach.Tools.CommonTypes.Tax
@using PensionCoach.Tools.CommonTypes

<EditForm Model="Definition">
    <div class="row">
        <div class="col-md-3"><RadzenLabel Text="Titel"/></div>
        <div class="col-md-9"><RadzenTextBox TValue="string" @bind-Value="@Definition.Name"/></div>
        <div class="col-md-3"><RadzenLabel Text="Jahr" /></div>
        <div class="col-md-9"><RadzenNumeric TValue="int" @bind-Value="@Definition.ClearAtYear" Min="2000" Max="2100" Step="1" /></div>
        <div class="col-md-3"><RadzenLabel Text="Anteil" /></div>
        <div class="col-md-9"><RadzenNumeric TValue="decimal" Format="P2" @bind-Value="@Definition.ClearRatio" Min="0" Max="1M" Step="0.005" /></div>
        <div class="col-md-3"><RadzenLabel Text="Versteuern" /></div>
        <div class="col-md-9"><RadzenSwitch @bind-Value="@Definition.IsTaxable" /></div>
    </div>
</EditForm>

@code {

    [Parameter]
    public ClearAccountAction Definition { get; set; }

    protected override void OnInitialized()
    {
        Definition.Flow = new FlowPair(AccountType.CapitalBenefits, AccountType.Wealth);
        Definition.TaxType = TaxType.Capital;
        Definition.IsTaxable = true;
        Definition.Name = "Kapitalbezug";
        Definition.ClearRatio = 1M;
    }
}
