@using PensionCoach.Tools.CommonTypes.MultiPeriod

<EditForm Model="Definition">
    <div class="row">
        <div class="col-md-12">
            <RadzenLabel Text="Titel" Component="name" />
            <RadzenTextBox TValue="string" @bind-Value="@Definition.Name" Name="name" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <InvestmentDefinitionForm GenericDefinition="@InvestmentDefinition" OnChanged="Set"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <RadzenLabel Text="Versteuern" Component="isTaxable" />
            <RadzenSwitch @bind-Value="@Definition.IsTaxable" Name="isTaxable" />
        </div>
        <div class="col-md-4">
            <RadzenLabel Text="Jährliche Zunahme" Component="netGrowthRate" />
            <RadzenNumeric TValue="decimal" Format="P2" @bind-Value="@Definition.NetGrowthRate" Name="netGrowthRate" Min="0" Max="0.5M" Step="0.005" />
        </div>
    </div>
</EditForm>

@code {

    private InvestmentDefinitionViewModel InvestmentDefinition { get; set; } = new ();

    [Parameter]
    public GenericCashFlowDefinition Definition { get; set; }

    protected override void OnInitialized()
    {
        InvestmentDefinition.InitialAmount = Definition.InitialAmount;
        InvestmentDefinition.RecurrentAmount = Definition.RecurringInvestment.Amount;
        InvestmentDefinition.Year = Definition.InvestmentPeriod.Year;
        InvestmentDefinition.NumberOfPeriods = Definition.InvestmentPeriod.NumberOfPeriods;
    }

    private void Set(InvestmentDefinitionViewModel model)
    {
        Definition.InvestmentPeriod.Year = model.Year;
        Definition.InitialAmount = model.InitialAmount;
        Definition.RecurringInvestment.Amount = model.RecurrentAmount;
        Definition.InvestmentPeriod.NumberOfPeriods = model.NumberOfPeriods;

    }

}
