@page "/"
@page "/Einleitung"

<PageTitle>Einleitung</PageTitle>

<MudText Class="mb-4" Typo="Typo.h4">Abstimmung über die Vorlage <i>Reform BVG 21</i></MudText>

<p>
    Am <strong>22. September</strong> steht die Abstimmung über die Vorlage “Reform BVG 21” an.
    Diese Seite verfolgt das Ziel, eine neutrale Informationsquelle zu sein, die keine politischen Meinungen vertritt, sondern Fakten liefert,
    um eine fundierte Entscheidungsfindung zu ermöglichen.
</p>

<MudText Typo="Typo.h6">Gesetzesänderung</MudText>
<p>
    Die Vorlage beinhaltet eine Gesetzesänderung, deren vorgesehene Änderungen bereits konkret formuliert sind.
    Es ist jedoch nicht einfach, die Auswirkungen dieser Änderungen auf die persönliche Vorsorge abzuleiten.
    Dies liegt an zwei Hauptgründen:
</p>
<ul>
    <li>Die Herausforderung besteht darin, aus dem komplexen Geflecht von BVG-Regeln, Rechenvorschriften und Grenzwerten die zukünftigen Leistungen zu berechnen.</li>
    <li>Selbst wenn man den ersten Punkt bewältigt hat, bedeutet dies nicht zwangsläufig, dass sich die Änderungen auf die individuelle Vorsorgesituation auswirken.
        Viele sind Mitglieder einer Pensionskasse, die übergesetzliche Leistungen erbringt, die über das gesetzlich Vorgeschriebene hinausgehen.
        Daher ist es wichtig, auch die Regeln der eigenen Pensionskasse zu verstehen.</li>
</ul>

<MudText Typo="Typo.h6">Ziel dieser Seite</MudText>
<p>
    Diese Seite wurde genau zu dem Zweck erstellt, um Ihnen bei der Bewältigung beider Herausforderungen zu helfen. Sie bietet oder verweist auf Grundlagenwissen zur
    beruflichen Vorsorge im allgmeinen und zur BVG-Reform 21 im speziellen. Sie bietet auch eine Möglichkeit, die Auswirkungen der Reform auf Ihre persönliche
    Situation zu ermitteln.
</p>
<p>
    Ihre persönliche Auswirkungsberechnung erfolgt in zwei Schritten:
    <l>
        <li>Im ersten Schritt geben Sie Ihre persönlichen Daten ein, die für die Berechnung der Rentenleistungen erforderlich sind.</li>
        <li>Im zweiten Schritt wird das Ergebnis der Berechnung angezeigt, das Ihre voraussichtlichen BVG-Altersleistungen zeigt.</li>
    </l>
    
    Die Auswirkungsberechnung unterliegt den folgenden Einschränkungen:
    <ul>
        <li>Personenkreis: die Berechnung von Leistungen einer (Teil-)invaliden Person ist nicht unterstützt. Pensionierte sind von der Reform nicht betroffen.</li>
        <li>Leistungen: die Berechnung beschränkt sich auf die Sparleistung (das Altersguthaben zum ordentlichen Rentenbeginn) und der daraus resultierenden Alterrente.
            Ausgenommen sind also Risikoleistungen (wie Invaliden-, Partner-/Witwen- und Waisenrenten)</li>
        <li></li>
    </ul>
</p>

<p>
    <b>Disclaimer</b>: alle Angaben und Berechnungen sind ohne Gewähr. Insbesondere die Simulationsberechnung der Sparleistungen Ihrer Pensionskasse sind experimentell.
</p>