@page "/Reform"

<PageTitle>Reformziele</PageTitle>

<MudText Typo="Typo.h6">Was bezweckt die Reform?</MudText>

<p>Am <strong>22. September 2024</strong> wird die <strong>Reform der beruflichen Vorsorge (BVG-Reform)</strong> zur Volksabstimmung kommen. Diese Reform, die vom Parlament im März 2023 verabschiedet wurde, zielt darauf ab, die Finanzierung der 2. Säule zu stärken, das Leistungsniveau insgesamt zu erhalten und die Absicherung von Teilzeitbeschäftigten – insbesondere von Frauen – zu verbessern. Hier sind die wichtigsten Änderungen, die den Destinatär betreffen:</p>

<MudList>
        <MudListItem><strong>Senkung des Eintrittsschwelle</strong>: Die Eintrittsschwelle wird von derzeit 22’050 Franken auf 19’845 Franken gesenkt. Das bedeutet, dass Personen, die insgesamt pro Jahr so viel verdienen, zum Eintritt in eine Pensionskasse verpflichtet werden und dann obligatorisch versichert wären</MudListItem>
        <MudListItem><strong>Senkung des Umwandlungssatzes</strong>: Der Umwandlungssatz, der die Umrechnung des angesparten Kapitals in eine lebenslange Rente bestimmt, wird gesenkt. Dies kann Auswirkungen auf die Rentenhöhe haben.</MudListItem>
        <MudListItem><strong>Verstärkung des Sparprozesses</strong>: Die BVG-Reform zielt darauf ab, das Endaltersguthaben zu erhöhen, um langfristig die Senkung des Umwandlungssatzes zu kompensieren. Dies betrifft die Beiträge und die Anlagestrategie.</MudListItem>
        <MudListItem><strong>Rentenzuschlag für die Übergangsgeneration</strong>: Eine wichtige Massnahme ist der Rentenzuschlag für Personen, die kurz vor der Pensionierung stehen. Dies soll die Renten der Übergangsgeneration stabilisieren.</MudListItem>
        <MudListItem><strong>Lohnabhängiger Koordinationsabzug</strong>: Der Koordinationsabzug betrifft den Teil des Einkommens, der nicht in die Berechnung der Altersgutschriften einfliesst. Dieser Aspekt wurde ebenfalls in die Reform aufgenommen. Der versicherte Lohn, der als Grundlage für die Berechnung dient, ist der Teil des Einkommens, der in die berufliche Vorsorge einbezogen wird.</MudListItem>
        <MudListItem><strong>Vereinfachung der Altersgutschriftensätze</strong>: Die Berechnung der Altersgutschriften wurde transparenter gestaltet, indem die Sätze vereinfacht wurden.</MudListItem>
</MudList>

<MudText Class="mt-4" Typo="Typo.h6">Fachbegriffe:</MudText>
<MudList>
    <MudListItem><strong>Eintrittsschwelle</strong>: Bezeichnet den Mindestlohn, den eine Person bei einem Arbeitgeber erzielen muss, um obligatorisch gemäss BVG versichert zu sein.</MudListItem>
    <MudListItem><strong>Endaltersguthaben</strong>: Das gesamte angesparte Kapital bei Renteneintritt.</MudListItem>
    <MudListItem><strong>Koordinationsabzug</strong>: Der Teil des Einkommens, der nicht für die Berechnung der Altersgutschriften berücksichtigt wird.</MudListItem>
    <MudListItem><strong>Umwandlungssatz</strong>: Der Prozentsatz, mit dem das angesparte Kapital in eine lebenslange Rente umgerechnet wird.</MudListItem>
    <MudListItem><strong>Versicherter Lohn</strong>: Der Teil des Einkommens, der in die berufliche Vorsorge einbezogen wird.</MudListItem>
</MudList>

<MudText Typo="Typo.h6">Quellen: </MudText>
<MudList>
    <MudListItem>
        Bundesamt für Sozialversicherung:
        <BibLink Url="https://www.bsv.admin.ch/bsv/de/home/sozialversicherungen/bv/reformen-und-revisionen.html" MaxLength="50" />
    </MudListItem>
</MudList>