@using PensionCoach.Tools.CommonTypes

<RadzenDataList
    WrapItems="true"
    AllowPaging="true"
    Data="@Persons"
    TItem="PersonViewModel"
    PageSize="5">
     <Template Context="person">
         <RadzenCard Style="width: 100%; padding: 0; overflow: hidden;">
             <div class="container">
                <div class="row">
                    <div class="col-lg-3 p-3 product-title">
                        @(person.Name)
                    </div>
                </div>
             </div>
         </RadzenCard>
     </Template>
    </RadzenDataList>

@code {
    [Parameter]
    public IEnumerable<PersonViewModel> Persons { get; set; }
}
