<RadzenCard>
        <div class="row">
            <div class="col-4">
                <h3>@Title</h3>
                <p class="text-secondary">@HelpText</p>
            </div>
            <div class="col-8">
                @ChildContent
            </div>
        </div>
</RadzenCard>

@code {
    [Parameter] public string Title { get; set; }
    [Parameter] public string HelpText { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }
}