@using BlazorBvgRevisionApp.MyComponents.Models

<div class="form-row">

    <div class="mb-3 form-group col-md-6">
        <div class="form-group form-check">
            <label for="ConditionBvg" class="form-check-label">BVG: mind. 15 Jahre versichert</label>
            <input type="checkbox" class="form-check-input" id="ConditionBvg" @bind="PreCondition.IsEligibleBvg">
        </div>
    </div>

    <div class="mb-3 form-group col-md-6">
        <div class="form-group form-check">
            <label for="ConditionAhv" class="form-check-label">AHV: 10 Jahre kein Unterbruch</label>
            <input type="checkbox" class="form-check-input" id="ConditionAhv" @bind="PreCondition.IsEligibleAhv">
        </div>
    </div>
</div>

@code {
    [Parameter] public EligibleForPensionViewModel PreCondition { get; set; }
}